---
import ArrowRight from '../../icons/arrow-right.astro';

---

<div class='eighth container'>
  <div class='title'>Travel with TLC Nursing? One Click, endless possibilities!</div>

  <div class='box'>
    <img src='/pictures/main_page/eighth.jpeg' />
    <div class='right'>
      <div class='description'>
        Leading the way in travel nursing, we simplify your career journey. Get top opportunities, advanced tools, and unwavering support with us. Joining TLC Nursing? 
        <div class='bold'>Easy as ABC:</div>
      </div>
      <div class='list'>

        <div class='item'>
          <div class='icon'><ArrowRight /></div>
          <div class='content'>Sign Up: Register and enrich your profile.</div>
        </div>

        <div class='item'>
          <div class='icon'><ArrowRight /></div>
          <div class='content'>Discover: Log in, explore jobs, and view pay details.</div>
        </div>

        <div class='item'>
          <div class='icon'><ArrowRight /></div>
          <div class='content'>Apply Now: Found the right job? Click to connect with our recruiter.</div>
        </div>
        
      </div>
      <a class='more' href='#'>See the difference</a>
    </div>
  </div>
</div>

<style lang='scss'>
  .eighth {
    padding: 60px 15px;

    .title {
      font-size: 32px;
      line-height: normal;
      margin-bottom: 32px;
    }

    .box {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      img {
        max-width: 660px;
        width: 100%;
        height: 390px;
        border-radius: 14px;
        object-fit: cover;
      }

      .right {
        .description {
          font-family: 'Mulish', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 35px;

          .bold {
            font-weight: 600;
          }
        }

        .list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 40px;

          .item {
            display: grid;
            grid-template-columns: 40px 1fr;
            align-items: center;
            gap: 12px;

            .icon {
              width: 40px;
              height: 40px;
            }

            .content {
              font-family: 'Mulish', sans-serif;
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .more {
      border: 1px solid var(--color-green);
      color: var(--color-green);
      padding: 15px 30px;
      border-radius: 86px;
      transition: 0.35s;
      margin: 0 auto;
      font-size: 20px;

      &:hover {
        background-color: var(--color-green);
        color: #fff;
      }
    }

    @media screen and (max-width: 480px) {
      padding: 40px 15px;

      .title {
        font-size: 20px;
        line-height: normal;
      }

      .box {
        grid-template-columns: 1fr;

        img {
          height: auto;
        }

        .right {
          .list {
            gap: 14px;
            .item {
              gap: 14px;
              .content {
                font-size: 16px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
</style>