---
import ChevronRight from '../../icons/chevron_right.astro';
import Dollar from '../../icons/dollar.astro';
import Clock from '../../icons/clock.astro';
import NurseIcon from '../../icons/icon-nurse.astro';
import SliderNext from '../../icons/slider-next.astro';
import SliderPrev from '../../icons/slider-prev.astro';
import Search from '../../icons/search.astro';
import ChevronDown from '../../icons/chevron_down.astro';

---

<div class='eleventh'>
  <div class='background-slider' id='main-eleventh-background-swiper'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'><img src='/pictures/main_page/eleventh/1.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/eleventh/2.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/eleventh/3.png' /></div>
    </div>
  </div>

  <div class='container'>

    <div class='title'>The latest open positions</div>

    <div class='form'>
      <input type='text' placeholder='Speciality' />
      <div class='select'><ChevronDown /></div>
      <button class='search-button'><Search /></button>
    </div>

    <div class='slider-wrapper'>
      <button class='arrow' id='main-eleventh-prev'><SliderPrev /></button>

      <div class='slider' id='main-eleventh-swiper'>
        <div class='swiper-wrapper'>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
  
          <div class='swiper-slide card'>
            <div class='header'>
              <div class='name'>Registered Nurse (RN), Manager - Travel</div>
              <NurseIcon />
            </div>
            <div class='location'>Guttenberg, IA</div>
            <div class='detail'>
              <Dollar />
              <div class='text'>Weekly Pay: $5838.30 - $6088.30</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>4x12 Nights</div>
            </div>
            <div class='detail'>
              <Clock />
              <div class='text'>ASAP | 13 Week(s)</div>
            </div>
            <a class='view' href='#'>
              <span>View job</span>
              <ChevronRight/>
            </a>
          </div>
          
        </div>
      </div>

      <button class='arrow' id='main-eleventh-next'><SliderNext /></button>

      <div class='buttons'>
        <button id='main-eleventh-prev'><SliderPrev /></button>
        <button id='main-eleventh-next'><SliderNext /></button>
      </div>
    </div>

    <a class='more' href='#'>Search travel jobs</a>

  </div>
</div>

<style lang='scss'>
  .eleventh {
    padding-bottom: 100px;
    position: relative;

    .background-slider {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      position: absolute;

      .swiper-slide {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .container {
      max-width: 1350px+210px;
      padding: 60px 15px 0 15px;
      z-index: 999;
      position: relative;
      display: flex;
      flex-direction: column;

      .more {
        background-color: var(--color-blue);
        border: 1px solid transparent;
        padding: 15px 30px;
        color: #fff;
        border-radius: 50px;
        margin: 0 auto;
        transition: 0.35s;

        &:hover {
          background-color: #90C3FF;
        }

        &:active {
          background-color: #90C3FF;
          border: 1px solid var(--color-blue);
        }
      }

      .title {
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;

        font-size: 64px;
        color: #fff;
        line-height: normal;
        margin-bottom: 32px;
      }

      .form {
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;

        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 32px;

        color: var(--color-gray);

        display: grid;
        grid-template-columns: 1fr 60px 60px;

        input {
          width: 100%;
          padding: 20px 26px;
        }

        .select {
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #E4E3E3;
        }

        .search-button {
          background-color: #E4E3E3;
          border-radius: 0 10px 10px 0;
          color: var(--color-gray);
        }
      }

      .slider-wrapper {
        position: relative;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        gap: 30px;
        
        .buttons {
          display: none;
        }

        .slider {
          max-width: 1380px;
          width: 100%;

          position: relative;
          overflow: hidden;
          .swiper-wrapper {
            .card {
              width: 320px;
              background-color: #fff;
              padding: 32px 20px;
              border-radius: 16px;
              display: flex;
              flex-direction: column;
              align-items: start;

              .header {
                display: grid;
                grid-template-columns: 1fr auto;

                color: var(--color-blue);
                fill: var(--color-blue);
              }
              
              .location {
                border-left: 4px solid var(--Gray-Text, #606C77);
                opacity: 0.6;
                background: #EEF5FF;
                padding: 3px 9px;
                margin: 24px 0;
              }

              .detail {
                display: flex;
                align-items: center;
                gap: 3px;
                font-family: 'Mulish';
                font-weight: 400;
              }

              .view {
                display: flex;
                align-items: center;
                margin-top: 16px;
                margin-left: auto;
                color: var(--color-blue);
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 480px) {
      .container {
        padding: 20px 15px;
        .title {
          font-size: 40px;
          line-height: normal;
        }
        .slider-wrapper {
          
        }
      }
    }

    @media screen and (max-width: 912px) {
      .container {
        .slider-wrapper {
          flex-direction: column;
          .arrow {
            display: none;
          }
          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding-top: 24px;
            
            button {
              color: #fff;
            }
          }
        }
      }
    }
  }
</style>

<script is:inline>
  const eleventhSlider = new Swiper('#main-eleventh-background-swiper', {
    slidesPerView: 1,
		loop: false, // true
		effect: 'fade',
		speed: 1000,
		autoplay: {
			delay: 3000,
		},
		allowTouchMove: false,
  });

  eleventhSlider.init();

  const eleventhSliderSt = new Swiper('#main-eleventh-swiper', {
    navigation: {
      nextEl: '#main-eleventh-next',
      prevEl: '#main-eleventh-prev',
    },
    breakpoints: {
      480: {
        slidesPerView: 1,
        spaceBetween: 50
      },
      481: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1100: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1250: {
        slidesPerView: 4,
        spaceBetween: 30,
      }
    }
  });

  eleventhSliderSt.init();
</script>