---
import Cancel from '../../icons/cancel.astro';
import ChevronDown from '../../icons/chevron_down.astro';
import Location from '../../icons/location.astro';
import Search from '../../icons/search.astro';

---

<div class='first'>
  <div class='page-info'>
    <div class='text'>Discover TLC</div>
  </div>

  <div class='slider' id='main-first-slider'>
    <div class='swiper-wrapper'>

      <div class='swiper-slide'><img src='/pictures/main_page/0.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/1.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/2.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/3.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/4.png' /></div>
      <div class='swiper-slide'><img src='/pictures/main_page/5.jpeg' /></div>

    </div>
    <div class='swiper-pagination' id='main-first-slider-pagination'></div>
  </div>
  
  <div class='container'>
    <div class='header'>
      <div class='title'>Empowering Your Career,<br/> Enriching Your Journey</div>
      <div class='description'>PREMIUM TRAVEL HEALTHCARE JOBS ACROSS USA</div>
    </div>

    <div class='form'>
      <div class='head'>
        <div class='input'>
          <input type='text' placeholder='Profession' />
          <ChevronDown />
        </div>

        <div class='input'>
          <Location />
          <input type='text' placeholder='Location' />
          <ChevronDown />
        </div>
      </div>

      <div class='bottom'>
        <button class='search-button'>
          <div class='icon'><Search /></div>
          <span>Search Jobs</span>
        </button>
        <button class='clear-button'>
          <span>Clear all filters</span>
          <Cancel />
        </button>
      </div>
    </div>

  </div>
</div>

<style lang='scss'>
  .first {
    .slider {
      width: 100%;
      height: 624px;
      overflow: hidden;
      position: absolute;

      .swiper-slide {
        img {
          width: 100%;
          height: 624px;
          object-fit: cover;
        }
      }

      .swiper-pagination {
        width: 200px;
        position: absolute;
        right: 100px;
        left: auto;
        bottom: 30px;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 624px;

      z-index: 99;
      position: relative;

      .header {
        text-align: center;
        margin-bottom: 35px;
        .title {
          font-size: 40px;
          line-height: normal;
          margin-bottom: 16px;
        }
        .description {
          font-size: 20px;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .head {
          max-width: 900px;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          margin-bottom: 25px;

          .input {
            background-color: #fff;
            border-radius: 57px;
            border: 1px solid rgba(114, 127, 153, 0.50);
            display: flex;
            align-items: center;
            padding: 14px 20px;
            input {
              width: 100%;
            }
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 25px;

          .search-button {
            background-color: #82BCFF;
            border-radius: 86px;
            border: 1px solid var(--color-blue);
            color: #fff;
            padding: 25px 60px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.35s;
            
            &:hover {
              background-color: var(--color-blue);
              color: #fff;
            }

            .icon {
              width: 15px;
              height: 17px;
              margin-right: 5px;
            }
          }

          .clear-button {
            display: flex;
            align-items: center;
          }
        }
       
      }
    }

    @media screen and (max-width: 480px) {
      .page-info {
        .text {
          padding: 0 15px;
        }
      }
      .slider {
        height: 424px;
        .swiper-slide {
          img {
            height: 424px;
            object-position: 80%;
          }
        }

        .swiper-pagination {
          display: flex;
          justify-content: center;
          margin-bottom: -10px;
        }
      }

      .container {
        height: auto;
        .header {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding-bottom: 50px;
          margin-bottom: 40px;
          height: 424px;
          text-align: start;

          .title {
            font-size: 28px;
            font-style: normal;
          }
        }

        .form {
          width: 100%;

          .head {
            grid-template-columns: 1fr;
            gap: 16px;
            margin-bottom: 16px;
          }
          .bottom {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;

            .clear-button {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
</style>


<script is:inline>
	const slider = new Swiper('#main-first-slider', {
		slidesPerView: 1,
    pagination: {
      el: '#main-first-slider-pagination',
      clickable: true,
    },
		loop: false, // true
		effect: 'fade',
		speed: 500,
		autoplay: {
			delay: 3000,
		},
		allowTouchMove: false,
	});

	slider.init();
</script>