<div class='mission container'>
  <div class='title'>Our Mission</div>
  <p class='description'>Cultivating meaningful relationships by bringing the best people together through providing qualified healthcare professionals to support your unique staffing needs.</p>
</div>

<style lang='scss'>
  .mission {
    padding: 70px 0;
    .title {
      font-size: 40px;
      margin-bottom: 24px;
    }
    .description {
      font-size: 24px;
      font-weight: 500;
    }

    @media screen and (max-width: 480px) {
      padding: 50px 15px;

      .title {
        font-size: 28px;
        margin-bottom: 15px;
      }
      .description {
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
</style>