---
import ChevronRight from '../../icons/chevron_right.astro';
import Star from '../../icons/star.astro';

---

<div class='tenth'>
  <div class='container'>

    <div class='header'>
      <div class='left'>
        <div class='mini-title'>Testimonial</div>
        <div class='title'>What Our Staffs Say</div>
      </div>
      <a class='right' href='#'>
        <span>More reviews</span>
        <ChevronRight />
      </a>
    </div>

    <div class='slider' id='main-tenth-swiper'>

      <div class='swiper-wrapper'>
        
        <div class='swiper-slide card'>

          <div class='head'>
            <img src='/pictures/main_page/tenth/1.png' />
            <div class='right'>
              <div class='left'>
                <div class='name'>Phyllis Meadows</div>
                <div class='tag'>LPN</div>
                <div class='stars'>
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                </div>
              </div>
              <div class='right'>2/17/2023</div>
            </div>
          </div>
  
          <div class='description'>“I enjoy being here in the Green Mountain State! I love the different weather and the people are nice! I love the TLC brand and their staff has been wonderful every time! I enjoy working in Assisted Living and meeting new clients and their families!”</div>
  
        </div>

        <div class='swiper-slide card'>

          <div class='head'>
            <img src='/pictures/main_page/tenth/1.png' />
            <div class='right'>
              <div class='left'>
                <div class='name'>Phyllis Meadows</div>
                <div class='tag'>LPN</div>
                <div class='stars'>
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                </div>
              </div>
              <div class='right'>2/17/2023</div>
            </div>
          </div>
  
          <div class='description'>“I enjoy being here in the Green Mountain State! I love the different weather and the people are nice! I love the TLC brand and their staff has been wonderful every time! I enjoy working in Assisted Living and meeting new clients and their families!”</div>
  
        </div>

        <div class='swiper-slide card'>

          <div class='head'>
            <img src='/pictures/main_page/tenth/1.png' />
            <div class='right'>
              <div class='left'>
                <div class='name'>Phyllis Meadows</div>
                <div class='tag'>LPN</div>
                <div class='stars'>
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                </div>
              </div>
              <div class='right'>2/17/2023</div>
            </div>
          </div>
  
          <div class='description'>“I enjoy being here in the Green Mountain State! I love the different weather and the people are nice! I love the TLC brand and their staff has been wonderful every time! I enjoy working in Assisted Living and meeting new clients and their families!”</div>
  
        </div>

        <div class='swiper-slide card'>

          <div class='head'>
            <img src='/pictures/main_page/tenth/1.png' />
            <div class='right'>
              <div class='left'>
                <div class='name'>Phyllis Meadows</div>
                <div class='tag'>LPN</div>
                <div class='stars'>
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                </div>
              </div>
              <div class='right'>2/17/2023</div>
            </div>
          </div>
  
          <div class='description'>“I enjoy being here in the Green Mountain State! I love the different weather and the people are nice! I love the TLC brand and their staff has been wonderful every time! I enjoy working in Assisted Living and meeting new clients and their families!”</div>
  
        </div>

        <div class='swiper-slide card'>

          <div class='head'>
            <img src='/pictures/main_page/tenth/1.png' />
            <div class='right'>
              <div class='left'>
                <div class='name'>Phyllis Meadows</div>
                <div class='tag'>LPN</div>
                <div class='stars'>
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                </div>
              </div>
              <div class='right'>2/17/2023</div>
            </div>
          </div>
  
          <div class='description'>“I enjoy being here in the Green Mountain State! I love the different weather and the people are nice! I love the TLC brand and their staff has been wonderful every time! I enjoy working in Assisted Living and meeting new clients and their families!”</div>
  
        </div>

        <div class='swiper-slide card'>

          <div class='head'>
            <img src='/pictures/main_page/tenth/1.png' />
            <div class='right'>
              <div class='left'>
                <div class='name'>Phyllis Meadows</div>
                <div class='tag'>LPN</div>
                <div class='stars'>
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                  <Star />
                </div>
              </div>
              <div class='right'>2/17/2023</div>
            </div>
          </div>
  
          <div class='description'>“I enjoy being here in the Green Mountain State! I love the different weather and the people are nice! I love the TLC brand and their staff has been wonderful every time! I enjoy working in Assisted Living and meeting new clients and their families!”</div>
  
        </div>
        
      </div>

      <div id='main-tenth-pagination'></div>

    </div>

  </div>
</div>

<style lang='scss'>
  .tenth {
    background-color: #EEF5FF;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;

    .container {

      .header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 50px;

        .left {
          display: flex;
          flex-direction: column;
          align-items: start;
          .mini-title {
            padding: 3px 9px;
            font-family: 'Mulish', sans-serif;
            font-weight: 400;
            font-size: 16px;
            border-left: 4px solid var(--color-blue);
            background: rgba(255, 255, 255, 0.59);
            margin-bottom: 13px;
          }
          .title {
            font-size: 40px;
            line-height: normal;
          }
        }

        .right {
          color: var(--color-green);
          display: flex;
          align-items: center;
        }
      }

      .slider {
        width: 100%;
        overflow: hidden;

        #main-tenth-pagination {
          display: flex;
          justify-content: center;
          margin-top: 50px;

          
        }
        .swiper-pagination-bullet-active {
            width: 16px;
            height: 16px;
          }

        .card {
          background-color: #fff;
          border-radius: 16px;
          padding: 48px 23px;
          width: 430px;

          .head {
            display: grid;
            grid-template-columns: 70px 1fr;
            align-items: center;
            gap: 16px;
            margin-bottom: 30px;

            img {
              display: block;
              width: 70px;
              height: 70px;
              object-fit: cover;
            }

            .right {
              display: flex;
              align-items: flex-end;
              justify-content: space-between;

              .left {
                .tag {
                  font-size: 14px;
                  font-weight: 400;
                }
                .stars {
                  display: flex;
                  gap: 5px;
                  margin-top: 8px;
                }
              }

              .right {
                color: #999;
                font-size: 14px;
                font-weight: 400;
              }
            }
          }

          .description {
            font-family: 'Mulish', sans-serif;
            font-size: 16px;
            font-weight: 400;
          }
        }

      }
    }

    @media screen and (max-width: 480px) {
      padding-bottom: 70px;
      .container {
        .header {
          flex-direction: column;
          align-items: start;
          margin-bottom: 24px;

          .left {
            .title {
              font-size: 20px;
            }
          }

          .right {
            position: absolute;
            bottom: 25px;
            right: 15px;
          }
        }

        .slider {
          .card {
            width: 100%;

            .head {
              .right {
                flex-direction: column;
                align-items: start;
                justify-content: start;

                .left {
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      } 
    }
  }
</style>

<script is:inline>
  const tenthSlider = new Swiper('#main-tenth-swiper', {
    pagination: {
      el: '#main-tenth-pagination',
      clickable: true,
    },
    breakpoints: {
      480: {
        slidesPerView: 1,
        spaceBetweenSlides: 50
      },
      481: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      912: {
        slidesPerView: 3,
        spaceBetween: 30,
      }
    }
  });

  tenthSlider.init();
</script>