<div class='career-sixth container'>

  <div class='block'>
    <div class='title H2'>Service Areas</div>
    <p class='body-2'>TLC’s Staffing Services are available in the following states: <br />United States of America</p>
  </div>

  <div class='block'>
    <div class='title H2'>TLC Nursing’s Mission</div>
    <p class='body-2'>Bringing great people together by providing qualified healthcare professionals to support your unique organizational staffing needs.</p>
  </div>

  <div class='block'>
    <div class='title H2'>Vision</div>
    <p class='body-2'>TLC Nursing’s team is dedicated to providing our clients with the right people through our extensive screening process to meet your unique staffing needs. We provide passionate and committed staff while creating a culture of caring and professional development.</p>
  </div>

</div>

<style lang='scss'>
.career-sixth {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;

  padding: 65px 0;

  .block {
    background-color: #5697E4;
    padding: 40px 32px;
    border-radius: 16px;
    color: #fff;

    .title {
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 1fr; 
  }
}
</style>