---
import Cancel from '../../icons/cancel.astro';
import ChevronLeftPagination from '../../icons/chevron-left-pagination.astro';
import ChevronRightPagination from '../../icons/chevron-right-pagination.astro';
import ChevronRight from '../../icons/chevron_right.astro';

---

<div class='team-second container'>
  
  <div class='list' id='team-page-list'>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

    <div class='block'>
      <img src='/pictures/team/Mohamed.png' />
      <div class='content'>
        <div class='H3'>Mohamed Basha</div>
        <div class='H5'>RN CMC Founder And CEO</div>
        <div class='more-details'>
          <span class='H5'>More details</span>
          <div class='icon'><ChevronRight /></div>
        </div>
      </div>

      <div class='more-info' style='display: none;'>
        <div class='image'>
          <img src='/pictures/team/Mallory Walling.png' />
        </div>
        <div class='right'>
          <div class='H2 blue'>Mallory Walling</div>
          <div class='H5 blue'>HR Coordinator</div>
          <p class='body-2'>As the HR Coordinator at TLC Nursing, I am responsible for onboarding homecare staff and processing new hire paperwork for all employees across both companies. TLC’s mission is to cultivate meaningful relationships by bringing the best people together, and I support this by helping to bring new caregivers onto our team.
            In 2021 I processed approximately 296 i-9’s, meaning that we hired and onboarded almost 300 new employees!
            I have earned a Bachelors of Science in Business Management and am finishing my Masters of Arts in Clinical Mental Health Counseling.</p>
        </div>
        <div class='close'><Cancel /></div>
      </div>
    </div>

  </div>

  <div class='page-pagination'>
    <div class='wrapper'>
      <div class='item'><ChevronLeftPagination /></div>
      <div class='item active'>1</div>
      <div class='item'>2</div>
      <div class='item'>...</div>
      <div class='item'>8</div>
      <div class='item'><ChevronRightPagination /></div>
    </div>
  </div>

</div>

<style lang='scss'>
.team-second {
  padding: 50px 0;

  .blue {
    color: var(--color-blue);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;

    .more-info {
      grid-column: 1/ -1;
      display: grid;
      grid-template-columns: minmax(220px, 430px) 1fr auto;
      gap: 24px;

      border: 1px solid var(--color-blue);
      border-radius: 14px;
      overflow: hidden;
      position: relative;

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }

      .image {
        background-color: #E6EAEF;
        width: 100%;
        border-radius: 14px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .right {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    .block {
      background-color: #E6EAEF;
      border-radius: 16px;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      position: relative;
      height: 390px;

      img {
        width: 100%;
        height: 390px;
        object-fit: cover;
      }

      .content {
        background: linear-gradient(0deg, #EEF5FF 27.91%, rgba(238, 245, 255, 0.00) 99.98%);
        position: absolute;
        width: 100%;
        
        padding: 100px 20px 30px 20px;
        z-index: 9;

        display: flex;
        flex-direction: column;
        align-items: start;

        .more-details {
          margin-top: 15px;
          margin-left: auto;
          display: flex;
          align-items: center;
          transition: 0.35s;
          cursor: pointer;

          .icon {
            height: 24px;
          }

          &:hover {
            color: var(--color-blue);
          }
        }
      }
    }
  }

  @media screen and (max-width: 912px) {
    .list {
      .more-info {
        grid-template-columns: 1fr;
        gap: 0;

        .right {
          padding: 20px;
        }
      }
    }
  }
}
</style>

<script is:inline>

const teamPageList = document.querySelector('#team-page-list');

const getNumber = (elem) => {
  const parent = elem.parentElement;
  const children = Array.from(parent.children);
  return children.indexOf(elem) + 1;
};

const closeBox = (e) => {
  e.currentTarget.parentElement.remove();
};

const openBox = (elem, index) => {
  const newElem = elem.querySelector('.more-info').cloneNode(true);
  const referenceElement = teamPageList.children[index];

  newElem.removeAttribute('style');
  newElem.classList.add('opened-box');

  const closeButton = newElem.querySelector('.close');
  closeButton.addEventListener('click', closeBox);

  teamPageList.insertBefore(newElem, referenceElement);
}

const blockListener = (e) => {
  const boxes = document.querySelectorAll('.opened-box');
  boxes.forEach(e => e.remove());
  
  const containerWidth = teamPageList.offsetWidth;
  const gap = 30;
  const minWidth = 280;

  let currentRowSize = 1;
  let currentRow = 1;

  if ((4 * minWidth) + (3 * gap) <= containerWidth) currentRowSize = 4;
  else if ((3 * minWidth) + (2 * gap) <= containerWidth) currentRowSize = 3;
  else if ((2 * minWidth) + (1 * gap) <= containerWidth) currentRowSize = 2;
  else currentRowSize = 1;

  const index = getNumber(e.currentTarget.parentElement.parentElement);
  
  if (index > currentRowSize) currentRow = Math.ceil(index/currentRowSize);

  const x = (currentRow * currentRowSize)-index;

  openBox(e.currentTarget.parentElement.parentElement, index+x);

  console.log(e.currentTarget.parentElement.parentElement.parentElement.children.length);

  console.log(x);
};

const blocks = document.querySelectorAll('.more-details');
blocks.forEach(e => e.addEventListener('click', blockListener));


</script>