---
import ChevronRightMini from '../../icons/chevron-right-mini.astro';
---

<div class='leap-first'>
  <div class='page-info'>
    <div class='text'>
      <span>Discover TLC</span>
      <ChevronRightMini />
      <span>Team TLC</span>
      <ChevronRightMini />
      <span>LEAP</span>
    </div>
  </div>
  <div class='container'>
    <div class='title H1'>Timesheets</div>
    <div class='description body-1'>Timesheets are due no later than 11:00 PM EST every SUNDAY</div>
  </div>
</div>

<style lang='scss'>
.leap-first {
  background-color: #EEF5FF;

  .container {
    padding: 100px 0 50px 0;
    text-align: center;
    color: var(--color-blue);

    .title {
      margin-bottom: 16px;
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      padding: 100px 0;
      .title {
        font-size: 28px;
      }
      .description {
        font-size: 16px;
      }
    }
  }
}
</style>