<div class='leap-second container'>

  <div class='block'>
    <div class='top'>
      <div class='number H4'>1</div>
      <div class='description body-2'>Please enter and upload your timesheet at https://leap.laboredge.com/signin/tlc Log in to your LEAP portal: https://leap.laboredge.com/signin/tlc</div>
    </div>
    <div class='bottom'>
      <div class='segment'><img src='/pictures/leap/1.png' /></div>
    </div>
  </div>

  <div class='block'>
    <div class='top'>
      <div class='number H4'>2</div>
      <div class='description body-2'>Once signed in, navigate to the menu on the left-hand side (three horizontal bars) and click on “timesheet”Go to the correct date/day that you worked, enter Time In, Time Out, Lunch Out, Lunch In.</div>
    </div>
    <div class='bottom'>
      <div class='segment'><img src='/pictures/leap/1.png' /></div>
      <div class='segment'><img src='/pictures/leap/1.png' /></div>
    </div>
  </div>

  <div class='block'>
    <div class='top'>
      <div class='number H4'>3</div>
      <div class='description body-2'>Please enter and upload your timesheet at https://leap.laboredge.com/signin/tlc Log in to your LEAP portal: https://leap.laboredge.com/signin/tlc</div>
    </div>
    <div class='bottom'>
      <div class='segment'><img src='/pictures/leap/1.png' /></div>
    </div>
  </div>

  <div class='block'>
    <div class='top'>
      <div class='number H4'>4</div>
      <div class='description body-2'>Once signed in, navigate to the menu on the left-hand side (three horizontal bars) and click on “timesheet”Go to the correct date/day that you worked, enter Time In, Time Out, Lunch Out, Lunch In.</div>
    </div>
    <div class='bottom'>
      <div class='segment'><img src='/pictures/leap/1.png' /></div>
    </div>
  </div>

</div>

<style lang='scss'>
.leap-second {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;

  padding: 50px 0;

  .block {
    .top {
      max-width: 430px;
      min-height: 100px;
      margin-bottom: 25px;

      display: grid;
      grid-template-columns: 40px 1fr;
      gap: 10px;

      .number {
        width: 40px;
        height: 40px;
        border: 2px solid var(--color-blue);
        border-radius: 100%;
        color: var(--color-blue);

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
      gap: 30px;
      align-items: center;

      .segment {
        background-color: #EEF5FF;
        padding: 65px 0;
        display: grid;
        align-items: center;
        justify-content: center;
      }
      
    }

  }

  @media screen and (max-width: 912px) {
    grid-template-columns: 1fr;

    .block {
      .top {
        max-width: 100%;
      }
    }
  }
}
</style>