<div class='getting-started-with-tlc-fifth'>
  <div class='container'>

    <div class='block'>
      <div class='title H4'>1. Drug Screen</div>
      <p class='body-2'>A 10-13 panel drug screening to include the following substances: marijuana, PCP, amphetamines, opiates (codeine, morphine & heroin), cocaine, benzodiazepines, barbiturates, methadone, propoxyphene, & methaqualone (Quaaludes), Opioids or synthetic opiates such as Hydrocodone, Hydromorphone, Oxycodone, and Oxymorphone, Meperidine</p>
    </div>

    <div class='block'>
      <div class='title H4'>2. Background Screening</div>
      <p class='body-2'>
        7-year criminal background check
        <ul class='body-2'>
          <li>SS Trace</li>
          <li>All counties (lived/worked/in school)</li>
          <li>Nationwide</li>
          <li>Sex Offender</li>
        </ul>
      </p>
    </div>

    <div class='block'>
      <div class='title H4'>3. Current Negative PPD TB Or Negative Blood Test Results/ Chest Xray With Proof Of Past Positive TB Test</div>
      <p class='body-2'>CDC and the National TB Controllers Association (NTCA) recommend that all U.S. health care personnel be screened for TB. Screening should include a TB risk assessment, a TB symptom screen, and a TB test. A past positive test will require a Chest X-ray within the last five years along with proof of past positive test for BCG vaccination.</p>
    </div>

    <div class='block'>
      <div class='title H4'>4. MMR: Vaccines Or Positive Titer</div>
      <p class='body-2'>The Advisory Committee on Immunization Practices (ACIP) recommends that persons who do not have presumptive evidence of immunity to measles, mumps, and rubella should get vaccinated against these diseases with measles, mumps, rubella (MMR) vaccine or measles, mumps, rubella, varicella (MMRV) vaccine. Only combination MMR and MMRV vaccines are licensed in the United States.</p>
    </div>

    <div class='block'>
      <div class='title H4'>5. Varicella: Vaccines Or Positive Titer</div>
      <p class='body-2'>The Advisory Committee on Immunization Practices (ACIP) recommends that healthy people who do not have evidence of immunity to varicella should get vaccinated against this disease.</p>
    </div>

    <div class='block'>
      <div class='title H4'>6. Hep B: Vaccines Or Positive Titer</div>
      <p class='body-2'>The Advisory Committee on Immunization Practices (ACIP) recommends hepatitis B (HepB) vaccination among all adults aged 19–59 years and adults > 60 years with risk factors for hepatitis B or without identified risk factors but seeking protection.</p>
    </div>

    <div class='block'>
      <div class='title H4'>7. TDAP</div>
      <p class='body-2'>In October 2014, ACIP considered Tdap revaccination of healthcare personnel. After a review of available data, ACIP maintains the current recommendation for healthcare personnel to receive a single dose of Tdap. After receipt of Tdap, a dose of Td or Tdap is recommended every 10 years.</p>
    </div>

    <div class='block'>
      <div class='title H4'>8. COVID Vaccination Or Exemption</div>
      <p class='body-2'>Most healthcare facilities require that all staff provide proof of COVID-19 vaccination or documented medical or religious exemption. For more information regarding COVID-19 vaccination please visit COVID-19 Vaccination Clinical and Professional Resources | CDC</p>
    </div>

    <div class='block'>
      <div class='title H4'>9. Annual Physical</div>
      <p class='body-2'>Annual or pre-employment physicals are recommended for healthcare workers to determine the ability to complete necessary tasks associated with patient care. The exam may determine the ability to lift, pull or pull certain weights. This physical helps identify work-related injury risks.</p>
    </div>

    <div class='block'>
      <div class='title H4'>10. Annual Fit-Testing For N95 Filtering Facepieces</div>
      <p class='body-2'>Tight-fitting respirators must seal to the wearer’s face in order to provide expected protection. This includes disposable respirators (also called “filtering facepieces”). Therefore, fit testing is required in the US by the Occupational Safety and Health Administration (OSHA) before a user wears a mandatory respirator on the job, and must be assessed at least annually. In addition, fit tests should be performed: Whenever a different size, style, model, or make of respirator is used. When any facial changes occur that could affect fit, such as significant weight fluctuation or dental work. For additional guidance, see COVID-19 Hospital Preparedness Assessment Tool.</p>
    </div>

  </div>
</div>

<style lang='scss'>
.getting-started-with-tlc-fifth {
  background-color: #F6F7F9;
  padding: 100px 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .block {
      background-color: #fff;
      border-radius: 16px;
      padding: 40px 25px;

      .title {
        color: var(--color-blue);
        margin-bottom: 16px;
      }

      ul {
        margin-left: 16px;
      }
    }
  }

  @media screen and (max-width: 712px) {
    padding: 40px 0;

    .container {
      grid-template-columns: 1fr;
    }
  }
}
</style>