---
import ChevronRightMini from '../../icons/chevron-right-mini.astro';
---

<div class='getting-started-with-tlc-first'>
  <div class='page-info'>
    <div class='text'>
      <span>Discover TLC</span>
      <ChevronRightMini />
      <span>Career with TLC</span>
      <ChevronRightMini />
      <span>Getting started with TLC</span>
    </div>
  </div>
  
  <img src='/pictures/getting-started-with-tlc/1.png' />
</div>

<style lang='scss'>
.getting-started-with-tlc-first {
  width: 100%;
  height: 500px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 480px) {
    height: 400px;
  }
}
</style>