<div class='getting-started-with-tlc-fourth container'>
  <div class='content'>
    <div class='title H3 blue'>Next Step: Compliance</div>
    <p class='body-2'>Once you have accepted a Travel Contract, the compliance phase begins! Depending on the facility, requirements may vary; our dedicated compliance team will ensure a smooth transition through compliance. It would be advisable to prepare as many of your documents as possible before accepting a contract. Below are the most commonly requested clinical documents.
      <span class='blue'><br />*NOTE: Requirements may vary depending on facility.</span></p>
  </div>
  <img src='/pictures/getting-started-with-tlc/4.png' />
</div>

<style lang='scss'>
.getting-started-with-tlc-fourth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  padding: 65px 0;

  .blue {
    color: var(--color-blue);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  img {
    width: 100%;
    height: 180px;
    border-radius: 14px;
    object-fit: cover;
  }

  @media screen and (max-width: 912px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 40px 0;
  }
}
</style>