<div class='getting-started-with-tlc-second container'>
  <div class='title H1'>Join the TLC Nursing Family!</div>
  <div class='description body-2'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</div>
  <div class='mini-title H4'>You will work with 3 different TLC Teammates to get to your frst assignment with TLC Nursing.Your primary contact will be your Recruiter after the start of your contract.</div>
</div>

<style lang='scss'>
.getting-started-with-tlc-second {
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  gap: 24px;

  .title {
    color: var(--color-blue);
  }

  @media screen and (max-width: 480px) {
    .title {
      font-size: 20px;
    }
  }
}
</style>