<div class='getting-started-with-tlc-third'>
  <div class='container'>

    <div class='block'>
      <div class='top'>
        <div class='number H3'>1</div>
        <div class='title H5'>Step 1:</div>
      </div>
      <p class='body-2'>Complete Employment Application with your dedicated Recruitment Coordinator (RC). The following are needed from you within 48 hours to qualify for an interview with a recruiter</p>
      <ol class='list body-2'>
        <li>At least 80% completion of your LEAP profile</li>
        <li>Complete all background check forms <br /> A. TLC must have the preliminary background check results prior to the interview</li>
        <li>Complete profile Sections 1 - 9</li>
        <li>Upload BLS, Nursing/CNA License, COVID vaccination card, and Hep B form</li>
        <li>Complete skills checklist</li>
      </ol>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='number H3'>2</div>
        <div class='title H5'>Step 2:</div>
      </div>
      <p class='body-2'>Discuss open contracts with your dedicated Recruiter (Recruiter)</p>
      <ol class='list body-2'>
        <li>Length of contract, location, pay, time off requests, and housing/vehicle requirements will be matched to available assignments A. Recruiter will provide you pay package details prior to submitting you to the facility B. You choose to accept the facility submission</li>
        <li>Recruiter will submit you to the facility A. Facility may want to interview you B. Facility approves or declines the submission </li>
        <li>Recruiter will submit a travel contract with all details and pay package for the contract 
          <br />A. You will need to complete drug screening, pre-employment physical, and submit vaccination records 
          <br />B. Your Nationwide background check needs to be completed 
          <br />C. You will need to complete all facility-specific testing through Relias</li>
      </ol>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='number H3'>3</div>
        <div class='title H5'>Step 3:</div>
      </div>
      <p class='body-2'>Get Compliance testing, medical, all documents uploaded with a Compliance Coordinator (CC)</p>
      <ol class='list body-2'>
        <li>Compliance team will review and confirm all compliance documents and tests are complete</li>
        <li>If necessary, you will apply for any state specific licensing</li>
        <li>You will submit onboarding documents through ADP A. W-4, I-9, benefits enrollment, etc...</li>
        <li>You will discuss housing with your recruiter 
          <br />A. You will receive your housing detail from the Housing Coordinator</li>
        <li>You will discuss vehicle needs with your recruiter  
        </br>A. You will receive your car rental detail from the Fleet Manager</li>
      </ol>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='number H3'>4</div>
        <div class='title H5'>Step 4:</div>
      </div>
      <p class='body-2'>Start of Contract</p>
      <ol class='list body-2'>
        <li>You will start your new contract</li>
        <li>Submit timesheets weekly by 10 pm Sunday</li>
        <li>Payroll is deposited weekly into your account on Fridays</li>
        <li>You will receive check-ins from your recruiter</li>
        <li>Upon completion of your contract, you will have the option to extend or explore new</li>
      </ol>
    </div>

  </div>
</div>

<style lang='scss'>
.getting-started-with-tlc-third {
  background-color: #EEF5FF;
  padding: 60px 0;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 30px;

    .block {
      background-color: #fff;
      border-radius: 14px;
      padding: 34px 20px;

      display: flex;
      flex-direction: column;
      gap: 16px;

      .top {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        gap: 16px;

        .number {
          background-color: var(--color-green);
          width: 40px;
          height: 40px;
          border-radius: 100%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .list {
        margin-left: 16px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    padding: 30px 0;
  }
}
</style>