---
import Hospital from '../../icons/hospital-mini.astro';

---

<div class='career-search-jobs-fifth container'>
  <div class='title H3'>Understanding the concept and benefits of travel nursing jobs</div>
  <p class='body-2'>Travel nursing jobs involve RNs traveling to different healthcare facilities to fill temporary staffing needs․ These positions can last anywhere from a few weeks to several months depending on the specific assignment․</p>
  <p class='body-2'>The benefits of becoming a travel nurse are numerous⁚</p>

  <div class='list'>

    <div class='block'>
      <div class='top'>
        <div class='icon'><Hospital /></div>
        <div class='title H5'>Diverse Clinical Experiences</div>
      </div>
      <p class='body-2'>Travel nurses have the opportunity to work in various healthcare settings such as hospitals‚ clinics‚ rehabilitation centers or even international facilities․ This allows them to broaden their skills by working with different patient populations and utilizing varying medical technologies․</p>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='icon'><Hospital /></div>
        <div class='title H5'>Flexibility</div>
      </div>
      <p class='body-2'>As a travel nurse‚ you have control over your assignments․ You can choose where you want to work geographically as well as which specialty area you prefer․ This flexibility allows for a better work-life balance and enables you to pursue personal interests and travel aspirations․</p>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='icon'><Hospital /></div>
        <div class='title H5'>Competitive Compensation</div>
      </div>
      <p class='body-2'>Travel nurses often enjoy higher pay rates compared to their permanent counterparts․ They may also receive additional benefits such as housing allowances‚ meal stipends‚ health insurance‚ retirement plans‚ and bonuses․</p>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='icon'><Hospital /></div>
        <div class='title H5'>Professional Growth</div>
      </div>
      <p class='body-2'>By working in different healthcare facilities with varying protocols and patient populations‚ travel nurses can enhance their clinical skills and adaptability․ This exposure allows for professional growth and the ability to develop a well-rounded nursing skill set․</p>
    </div>

    <div class='block'>
      <div class='top'>
        <div class='icon'><Hospital /></div>
        <div class='title H5'>Cultural Enrichment</div>
      </div>
      <p class='body-2'>Travel nursing provides an opportunity to experience different cultures and communities․ It allows nurses to immerse themselves in new environments‚ learn from diverse perspectives‚ and gain a deeper understanding of healthcare practices worldwide․</p>
    </div>

  </div>

  <p class='body-2'>In conclusion‚ travel nurse jobs offer exciting opportunities for RNs seeking adventure‚ career advancement‚ flexibility‚ competitive compensation packages‚ and cultural enrichment․ In the next section of our guide on travel nurse jobs we will explore important considerations before embarking on this career path․</p>
</div>

<style lang='scss'>
.career-search-jobs-fifth {
  display: flex;
  flex-direction: column;
  gap: 16px;


  padding: 30px 0;

  .title {
    color: var(--color-blue);
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 30px;

    .block {
      border-radius: 14px;
      background: var(--Light-Blue-BG, #EEF5FF);
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.03), 0px 1.22393px 11.42331px 0px rgba(0, 0, 0, 0.03), 0px 5.30368px 21.21471px 0px rgba(0, 0, 0, 0.02), 0px 11.83128px 29.37422px 0px rgba(0, 0, 0, 0.02), 0px 21.21471px 34.26992px 0px rgba(0, 0, 0, 0.01), 0px 33.65796px 37.53373px 0px rgba(0, 0, 0, 0.00);

      padding: 35px 20px;

      .top {
        display: grid;
        grid-template-columns: 40px 1fr;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;

        .icon {
          background-color: var(--color-green);
          border-radius: 100%;
          color: #fff;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  @media screen and (max-width: 480px) {
    .title {
      font-size: 20px;
    }
  }
}
</style>