<div class='career-search-jobs-fourth'>
  <div class='container'>

    <div class='top'>
      <div class='left'>
        <div class='title H3'>Introduction to Travel Nurse Jobs</div>
        <p class='body-2'>Travel nurse jobs are highly sought after positions in the healthcare industry. These unique opportunities allow registered nurses (RNs) to work on temporary assignments in different locations‚ both domestically and internationally․</p>
        <p class='body-2'>Travel nursing offers a rewarding career path for adventurous and flexible nurses who enjoy exploring new places while providing high-quality patient care․ It provides an excellent opportunity to gain diverse clinical experiences‚ enhance professional skills‚ and expand cultural horizons․</p>
      </div>
      <img src='/pictures/career-search-jobs/4.png' />
    </div>

    <div class='bottom body-2'>
      <p>Nurses who take on travel assignments can choose from various specialties such as critical care‚ emergency room‚ labor and delivery‚ medical-surgical‚ pediatrics‚ psychiatric nursing‚ and more․ They have the flexibility to select their desired location and assignment duration based on personal preferences․</p>
      <p>These positions often come with competitive compensation packages that include generous pay rates‚ housing allowances or accommodations provided by the employer‚ travel reimbursements or stipends for transportation costs between assignments․</p>
      <p>In this section of our guide on travel nurse jobs‚ we will explore different aspects of these exciting opportunities including benefits of becoming a travel nurse as well as important considerations before embarking on this career path․</p>
      <p>Travel nurse jobs are highly sought after positions in the healthcare industry․ These unique opportunities allow registered nurses (RNs) to work on temporary assignments in different locations‚ both domestically and internationally․</p>
      <p>Travel nursing offers a rewarding career path for adventurous and flexible nurses who enjoy exploring new places while providing high-quality patient care․ It provides an excellent opportunity to gain diverse clinical experiences‚ enhance professional skills‚ and expand cultural horizons․</p>
      <p>Nurses who take on travel assignments can choose from various specialties such as critical care‚ emergency room‚ labor and delivery‚ medical-surgical‚ pediatrics‚ psychiatric nursing‚ and more․ They have the flexibility to select their desired location and assignment duration based on personal preferences․</p>
      <p>These positions often come with competitive compensation packages that include generous pay rates‚ housing allowances or accommodations provided by the employer‚ travel reimbursements or stipends for transportation costs between assignments․</p>
    </div>

  </div>
</div>

<style lang='scss'>
.career-search-jobs-fourth {
  background-color: #EEF5FF;
  padding: 65px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .top {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 14px;
        overflow: hidden;
      }

      .left {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .title {
          color: var(--color-blue);
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  @media screen and (max-width: 912px) {
    padding: 40px 0;

    .container {
      .top {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
</style>