<div class='career-search-jobs container'>
  <div class='title H1'>Travel Nurse Jobs with TLC Nursing Agency</div>
  <div class='description H3'>Looking for a travel nurse jobs? Agency TLC Nursing will help you. Large selection of Travel Nurse Job</div>
</div>

<style lang='scss'>
.career-search-jobs {
  padding: 40px 0;

  text-align: center;

  .title {
    color: var(--color-blue);
    margin-bottom: 8px;
  }

  @media screen and (max-width: 480px) {
    .title {
      font-size: 32px;
    }
    .description {
      font-size: 16px;
    }
  }
}
</style>