---
import ArrowRight from '../../icons/arrow-right.astro';

---

<div class='career-search-jobs-seventh container body-2'>
  <div class='title H3'>Explanation of the role and responsibilities of travel nurses</div>
  <p>The role and responsibilities of travel nurses include⁚</p>

  <div class='list body-2'>

    <div class='item'>
      <div class='icon'><ArrowRight /></div>
      <p><span class='green'>Patient Care:</span> Travel nurses provide direct patient care by assessing patients’ conditions‚ administering medications and treatments as prescribed by physicians or advanced practice providers (APPs)‚ monitoring vital signs‚ assisting with procedures or surgeries when necessary․</p>
    </div>

    <div class='item'>
      <div class='icon'><ArrowRight /></div>
      <p><span class='green'>Educating Patients⁚</span> Travel nurses play an essential role in educating patients about their health conditions‚ treatment plans‚and self-care techniques․ They ensure that patients understand their medications regimen and post-treatment instructions before discharge․</p>
    </div>

    <div class='item'>
      <div class='icon'><ArrowRight /></div>
      <p><span class='green'>Collaboration with Healthcare Team⁚</span> Travel nurses collaborate with interdisciplinary healthcare teams including physicians‚nurse practitioners (NPs)‚ physician assistants (PAs)‚ therapists‚and other allied health professionals․They communicate effectively regarding patient care plans‚ changes in patient conditions‚ and any concerns or issues that arise during their assignments․</p>
    </div>

    <div class='item'>
      <div class='icon'><ArrowRight /></div>
      <p><span class='green'>Documentation⁚</span> Like all nurses‚ travel nurses are responsible for accurate and timely documentation of patient assessments‚ interventions‚ and outcomes․ They maintain comprehensive medical records to ensure continuity of care and compliance with regulatory standards․</p>
    </div>

    <div class='item'>
      <div class='icon'><ArrowRight /></div>
      <p><span class='green'>Adapting to New Environments⁚</span> Travel nurses must quickly adapt to new healthcare settings․ They familiarize themselves with facility-specific policies‚ procedures‚and electronic health record (EHR) systems․ They also establish rapport with colleagues and patients in order to provide seamless care․</p>
    </div>

  </div>

  <p>In summary‚ travel nursing offers RNs the opportunity to work in diverse locations while providing essential patient care․ The responsibilities of a travel nurse encompass direct patient care‚disease education‚collaboration within healthcare teams‚and adapting effectively to new environments․</p>
</div>

<style lang='scss'>
.career-search-jobs-seventh {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 32px 0;

  .title {
    color: var(--color-blue);
  }
  .green {
    color: var(--color-green);
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .item {
      display: grid;
      grid-template-columns: 37px 1fr;
      gap: 20px;

      .icon {
        height: 37px;
      }
    }
  }
}
</style>