<div class='career-search-jobs-third container'>
  <img src='/pictures/career-search-jobs/2.png' />
</div>

<style lang='scss'>
.career-search-jobs-third {
  img {
    width: 80%;
    margin: 0 auto;
  }

  @media screen and (max-width: 480px) {
    img {
      width: 100%;
    }    
  }
}
</style>