<div class='staff-testimonials-third container body-2'>
  <div class='title H1'>Some Testimonial About TLC Nursing In Facebook</div>

  <div class='segment'>
    <p>“I wanted to take a minute to let you guys know that I am so appreciative to be working for TLC. You really come through for your staff. That happens once in a lifetime. Thus was the best decision I could have made for myself. Keep doing great things and know you have brought me great comfort in what I do. Have a great day.”</p>
    <div class='H3'>~ EM RN St. Johnsbury, VT</div>
  </div>

  <div class='segment'>
    <p>“TLC is awesome! I lost my credit card and had no access to my money when I arrived at the airport at my destination. I called the on call person and explained my situation to them and they sent an Über to pick me up and take me to my hotel. That night they sent someone to take me grocery shopping and he took me to get the company vehicle I would be driving! The next day, they gave me a cash advance to help me get through until my 1st paycheck! This was my first time ever to do travel nursing, so TLC didn’t know me at all and they went above and beyond to help me. I am Abi and Theresa’s biggest fans! This company treated me like family from day one.”</p>
    <div class='H3'>~ Cassie Temple-Johnston Pass Christian, MS </div>
  </div>

  <div class='segment'>
    <p>“Days go by in a fast paced environment. I’ve mastered administrating medications to unknown residents at nursing homes and assisted living. Co-workers provide support. Hardest part of the job is moving on to the next job. My most enjoyable part of the job is interacting with the residents.”</p>
    <div class='H3'>~ Naomi Call, LPN Baton Rough, LA</div>
  </div>

  <div class='segment'>
    <p>“TLC is an excellent company to work for. They always have their employees best interest in mind and do what they can to satisfy us! I have been with them for over two years and have never worked for a better company.”</p>
    <div class='H3'>~Lynn S, RN West Palm Beach, FL</div>
  </div>

  <div class='segment'>
    <p>“I was an LPN when I first met Mohamed in 2008, and I have to say my first impression was that of professionalism and character. I had worked in an area of nursing for over three years and was at my wits end from stress and a feeling of being unappreciated from my current employers. I decided to take a chance and do something I had never done before, be an agency nurse for TLC Nursing Associates.
      During the last two years since I ventured into agency nursing I have experienced some things I thought I never would from an employer; respect, commitment to professionalism, honesty, integrity, very family oriented and most important to me they have always had my back! When I decided to go back to school to receive my RN they supported me 100% and worked with my school schedule. When I achieved my RN I went back to work fulltime. When I look back over the past two years and all the accomplishments I have done I am thankful that I decided to step out into the unknown and work for TLC Nursing Associates. I would highly recommend to any nurse looking for change-take a chance step out into the unknown, and make the best decision you could ever make, “I did.”</p>
    <div class='H3'>~ Debra M. Lamotte RN Newport, VT</div>
  </div>

  <div class='segment'>
    <p>“Being an ‘agency’ nurse can be intimidating at times; 15 minutes of orientation and you are expected to jump right in. What I liked most about TLC was the availability of Abi, Mohammed and his team. If I ever had a question about an assignment they were a phone call away 24/7! I never felt like I was alone at a new facility even if I was physically alone. Not to mention the money is outstanding! TLC is by far the best company I have worked for in my 9 years as a nurse. If I move back to Vermont in the future I will certainly give them a call.”</p>
    <div class='H3'>~ David Weegar, LPN Chicago, IL</div>
  </div>

  <div class='segment'>
    <p>“TLC is one of the best nursing agencies I have worked for. They offer unlimited hours and top pay. TLC has a very wide variety of work weather you are looking for in-home care, nursing home, corrections, or hospital work. The greatest part of working for an agency is you are in control of when and/or where you work. Thank you TLC for making my work experience a great one!”</p>
    <div class='H3'>~ Laura Bates, LPN Woodsville, NH</div>
  </div>

  <div class='segment'>
    <p>“This company is awesome. TLC has made it enjoyable to do my work. TLC works hard to take care of their clients and match their employees to the client’s needs. I am very happy to work for TLC.”</p>
    <div class='H3'>~ Tiffany Smith, LNA Barre, VT</div>
  </div>

  <div class='segment'>
    <p>“I loved working for TLC because the entire staff works together to bring successful care to the client. The open door policy of management is really just that. I could just as comfortably speak of concerns or questions to Mohamed as easily as I could to Courtney. I also LOVED the fact that TLC sees clients as people – NOT just MONEY. When upper management has knowledge of clients needs, it helps the caregiver to better give care. communication is a big key to overall success and everyone wins when we all work together. Its also nice when we have meetings – we can get to know our coworkers. When we are out in the field sometimes we can feel isolated… Direct Deposit is great too!”</p>
    <div class='H3'>~ Sonya Alden, PCA Lebanon, NH</div>
  </div>

</div>

<style lang='scss'>
.staff-testimonials-third {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 40px 0;

  .title {
    text-align: center;
    color: var(--color-blue);
  }

  .segment {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .H3 {
      color: var(--color-blue);
    }
  }

  @media screen and (max-width: 480px) {
    padding: 0;
    .title {
      text-align: start;
      font-size: 28px;
    }
    .segment {
      .H3 {
        font-size: 20px;
      }
    }
  }
}
</style>