---
import Layout from "../layouts/main.astro";
import ChevronRightMini from "../components/icons/chevron-right-mini.astro";
import Eleventh from "../components/pages/index/eleventh.astro";
import LocationsSlider from "../components/pages/apply-today/LocationsSlider.astro";
---

<Layout>
  <div class="apply_today">
    <div class='animate-header'>
      <div class="page-info">
        <div class="text">
          <span>Discover TLC</span>
          <ChevronRightMini />
          <span>Apply today</span>
        </div>
      </div>
      <div class="main_banner">
        <h1>Discover Your Next Nursing Adventure With TLC Nursing</h1>
      </div>
    </div>
    <div class='animate-content'>
      <div class="content_text">
        <div class="container">
          <p>
            Are you a passionate travel nurse looking for your next adventure?
            Look no further than TLC Nursing, a leading nursing staffing company
            that offers a wide range of job opportunities for nurses of all
            specialties.
          </p>
          <p>
            With TLC Nursing, you can explore new cities, experience different
            healthcare facilities, and connect with a diverse community of
            healthcare professionals. Whether you’re looking for short-term
            assignments or long-term contracts, TLC Nursing has opportunities to
            fit your lifestyle and career goals.
          </p>
          <p>
            Our job listings include a variety of specialties, including
            Registered Nurses (RNs), Licensed Practical Nurses (LPNs), Licensed
            Nursing Assistants (LNAs)/Certified Nurse Aids (CNAs), Personal Care
            Attendants (PCAs), Home Health Aid, Caregivers, Allied Healthcare
            Professionals, and more. We also offer competitive pay rates, flexible
            scheduling, and comprehensive benefits to support you throughout your
            assignment.
          </p>
          <p>
            At TLC Nursing, we believe that travel nursing is more than just a
            job. It’s an opportunity to grow both professionally and personally,
            to make lasting connections, and to see the world from a new
            perspective.
          </p>
          <p>
            So why wait? Explore our current job opportunities and discover your
            next nursing adventure with TLC Nursing.
          </p>
        </div>
      </div>
      <div class="positions">
        <h2>Apply Today</h2>
        <Eleventh />
      </div>
      <div class="locations">
        <LocationsSlider />
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .apply_today {
    .main_banner {
      height: 360px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background-image: url("/pictures/apply-today/main-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      h1 {
        font-size: 40px;
        margin: 0 0 130.5px;
        text-align: center;
        font-weight: 600;
        line-height: normal;
        color: var(--color-blue);
      }
    }
  }

  .content_text {
    color: var(--color-gray);
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 80px 0 56px;

    p {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .positions {
    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--color-blue);
      margin-bottom: 48px;
      text-align: center;
    }
  }

  .locations {
    .title {
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    .apply_today {
      .main_banner {
        height: 500px;
        padding: 0 21px;
        background-image: url("/pictures/apply-today/main-bg-mobile.jpg");
        background-position: center;

        h1 {
          margin-bottom: 43px;
          font-size: 28px;
        }
      }
    }

    .content_text {
      margin: 48px 0;

      p {
        font-size: 16px;
        line-height: 130%;
      }
    }
  }
  // @media (min-width: 600px) and (max-width: 800px) {
  // /* CSS-стили */;
  // }
</style>
