---
import Layout from "../layouts/main.astro";
import ChevronRightMini from "../components/icons/chevron-right-mini.astro";
---

<Layout>
  <div class="cookies">
    <div class="page-info">
      <div class="text">
        <span>Discover TLC</span>
        <ChevronRightMini />
        <span>Cookies</span>
      </div>
    </div>
    <div class="main_banner">
      <h1>This is the web site of TLC Nursing Associates, LLC.</h1>
      <ul>
        <li>Our postal address is:</li>
        <li>PO Box 2244</li>
        <li>South Burlington, VT 05407</li>
        <li>&nbsp;</li>
        <li>
          We can be reached via e-mail at info@tlcnursing.com or you can reach
          us by telephone at (802) 404-0123.​
        </li>
      </ul>
    </div>

    <div class="content">
      <div class="container">
        <ul>
          <li>
            <p>
              For each visitor to our Web page, our Web server automatically
              recognizes only the consumer's domain name, but not the e-mail
              address (where possible).
            </p>
          </li>
          <li>
            <p>
              We collect only the domain name, but not the e-mail address of
              visitors to our Web page, the e-mail addresses of those who
              communicate with us via e-mail, aggregate information on what
              pages consumers access or visit, user-specific information on what
              pages consumers access or visit, information volunteered by the
              consumer, such as survey information and/or site registrations,
              payment information (e.g., credit card number and billing
              address).)
            </p>
          </li>
          <li>
            <p>
              The information we collect is used to improve the content of our
              Web page, used to customize the content and/or layout of our page
              for each individual visitor, used to notify consumers about
              updates to our Web site, used by us to contact consumers for
              marketing purposes.
            </p>
          </li>
        </ul>

        <h2>With respect to cookies:</h2>
        <ul>
          <li>
            <p>
              We use cookies to store visitors preferences, record session
              information, such as items that consumers add to their shopping
              cart, record user-specific information on what pages users access
              or visit, record past activity at a site in order to provide
              better service when visitors return to our site , customize Web
              page content based on visitors' browser type or other information
              that the visitor sends.
            </p>
          </li>
          <li>
            <p>
              If you do not want to receive e-mail from us in the future, please
              let us know by sending us e-mail at the above address, calling us
              at the above telephone number.
            </p>
          </li>
          <li>
            <p>
              If you supply us with your postal address on-line you may receive
              periodic mailings from us with information on new products and
              services or upcoming events. If you do not wish to receive such
              mailings, please let us know by calling us at the number provided
              above, e-mailing us at the above address.
            </p>
          </li>

          <li>
            <p>
              Please provide us with your exact name and address. We will be
              sure your name is removed from the list we share with other
              organizations.
            </p>
          </li>
          <li>
            <p>
              Persons who supply us with their telephone numbers on-line will
              only receive telephone contact from us with information regarding
              orders they have placed on-line.
            </p>
          </li>
          <li>
            <p>
              Persons who supply us with their telephone numbers on-line, and no
              longer wish to receive telephone correspondence from us may be
              removed from our call list by sending us e-mail at the above
              address or calling us at the above telephone number.
            </p>
          </li>
          <li>
            <p>
              Please provide us with your name and phone number. We will be sure
              your name is removed from the list we share with other
              organizations
            </p>
          </li>
        </ul>

        <h2>With respect to Ad Servers:</h2>

        <ul>
          <li>
            <p>
              When we transfer and receive certain types of sensitive
              information such as financial or health information, we redirect
              visitors to a secure server and will notify visitors through a
              pop-up screen on our site, We have appropriate security measures
              in place in our physical facilities to protect against the loss,
              misuse or alteration of information that we have collected from
              you at our site.
            </p>
          </li>
          <li>
            <p>
              If you feel that this site is not following its stated information
              policy, you may contact us at the above addresses or phone number.
            </p>
          </li>
        </ul>

        <h2>With respect to security:</h2>
        <ul>
          <li>
            <p>
              We do not partner with or have special relationships with any ad
              server companies.
            </p>
          </li>
          <li>
            <p>
              From time to time, we may use customer information for new,
              unanticipated uses not previously disclosed in our privacy notice.
              If our information practices change at some time in the future we
              will post the policy changes to our Web site to notify you of
              these changes and provide you with the ability to opt out of these
              new uses. If you are concerned about how your information is used,
              you should check back at our Web site periodically.
            </p>
          </li>
          <li>
            <p>
              Customers may prevent their information from being used for
              purposes other than those for which it was originally collected by
              e-mailing us at the above address, calling us at the above
              telephone number.
            </p>
          </li>
          <li>
            <p>
              Upon request we offer visitors the ability to have inaccuracies
              corrected in contact information.
            </p>
          </li>

          <li>
            <p>
              Consumers can have this information corrected by sending us e-mail
              at the above address, calling us at the above telephone number.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div class="cta">
        <div class="left">
          <img src="/pictures/cookies/call-to-action.jpg" alt="" />
        </div>
        <div class="right">
          <h4>Let’s start work with Us!</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
          <div class="action">
            <a href="#" class="btn">Search Job</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  .main_banner {
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #eef5ff;
    padding: 0 20px 57.5px 20px;
    h1 {
      font-size: 40px;
      margin: 0 0 16px;
      text-align: center;
      font-weight: 600;
      line-height: normal;
      color: var(--color-blue);
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: var(--color-blue);
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        font-family: "Mulish", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
  .content {
    margin: 81px 0 64px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
      list-style: none;
      margin: 0 0 40px;
      padding: 0;

      li {
        display: flex;
        gap: 20px;
        &::before {
          content: "";
          background-image: url("/pictures/cookies/green-arrow.svg");
          width: 37px;
          height: 37px;
          display: block;
          background-size: 100px;
          background-position: -32px -16px;
        }
        p {
          width: calc(100% - 37px);
          font-family: "Mulish", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          color: var(--color-gray);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--color-blue);
      text-align: center;
      margin-bottom: 32px;
    }
  }
  .cta {
    border-radius: 14px;
    background: #f6f7f9;
    height: 360px;
    display: flex;
    gap: 80px;
    margin-bottom: 64px;
    overflow: hidden;
    border-radius: 14px;
    .left {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--color-gray);
        margin-bottom: 8px;
      }

      p {
        font-family: "Mulish", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        color: var(--color-gray);
        margin-bottom: 40px;
      }

      a.btn {
        display: inline-flex;
        background-color: var(--color-blue);
        border: 1px solid transparent;
        padding: 12px 30px;
        color: #fff;
        border-radius: 50px;
        margin: 0 auto;
        transition: 0.35s;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 130%;

        &:hover {
          background-color: #90c3ff;
        }
      }
    }
  }

  @media screen and (max-width: 520px) {
    .main_banner {
      height: 375px;
      align-items: flex-start;
      padding: 0 20px 48.5px 20px;

      h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 8px;
        text-align: left;
      }

      ul {
        text-align: left;
        display: block;
        li {
          text-align: left;
          font-size: 16px;
          line-height: 130%;
        }
      }
    }

    .content {
      margin: 39px 0 64px;

      h2 {
        text-align: left;
      }
    }

    .cta {
      flex-direction: column;
      gap: 0;
      height: auto;
      .left,
      .right {
        width: 100%;
      }

      .left {
        height: 239px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .right {
        padding: 54px 32px 32px 32px;
        display: flex;
        flex-direction: column;
        h4 {
          font-size: 20px;
          font-weight: 600;
        }
        p {
          font-size: 15px;
          margin-bottom: 16px;
        }
      }
    }
  }

  @media (min-width: 521px) and (max-width: 875px) {
    .main_banner {
      padding: 0 20px 28.5px 20px;
    }

    .cta {
      gap: 30px;
    }
  }
</style>
