---
import Layout from '../layouts/main.astro';

import First from '../components/pages/healyhcare-staffing/first.astro';
import Second from '../components/pages/healyhcare-staffing/second.astro';
import Third from '../components/pages/healyhcare-staffing/third.astro';
import Fourth from '../components/pages/healyhcare-staffing/fourth.astro';
import Fifth from '../components/pages/healyhcare-staffing/fifth.astro';
import Sixth from '../components/pages/healyhcare-staffing/sixth.astro';
import Seventh from '../components/pages/healyhcare-staffing/seventh.astro';
---

<Layout>
  <div class='healyhcare-staffing-page'>
    <First />
    <Second />
    <Third />
    <Fourth />
    <Fifth />
    <Sixth />
    <Seventh />
  </div>
</Layout>

<style>
.healyhcare-staffing-page {

}
</style>