---
import Layout from '../layouts/main.astro';

import First from '../components/pages/index/first.astro';
import Second from '../components/pages/index/second.astro';
import Third from '../components/pages/index/third.astro';
import Fouth from '../components/pages/index/fouth.astro';
import Fifth from '../components/pages/index/fifth.astro';
import Sixth from '../components/pages/index/sixth.astro';
import Seventh from '../components/pages/index/seventh.astro';
import Eighth from '../components/pages/index/eighth.astro';
import Ninth from '../components/pages/index/ninth.astro';
import Tenth from '../components/pages/index/tenth.astro';
import Eleventh from '../components/pages/index/eleventh.astro';
import Twelfth from '../components/pages/index/twelfth.astro';
---

<Layout>
	<div class='index-page'>
		<First />
		<Second />
		<Third />
		<Fouth />
		<Fifth />
		<Sixth />
		<Seventh />
		<Eighth />
		<Ninth />
		<Tenth />
		<Eleventh />
		<Twelfth />
	</div>
</Layout>

<style lang='css'>
.index-page {
	overflow: hidden;
}
</style>