---
import Layout from '../layouts/main.astro';

import First from '../components/pages/leap/first.astro';
import Second from '../components/pages/leap/second.astro';
import WorkUs from '../components/global/work-us.astro';
---

<Layout>
  <div class='leap-page'>

    <div class='animate-header'>
      <First />
    </div>
    <div class='animate-content'>
      <Second />
      <div class='third'>
        <WorkUs />
      </div>
    </div>

  </div>
</Layout>

<style lang='scss'>
.third {
  padding: 65px 0;
}
</style>