---
import Layout from '../layouts/main.astro';

import First from '../components/pages/search-jobs/first.astro';
import Second from '../components/pages/search-jobs/second.astro';
---

<Layout>
  <div class='search-jobs-page'>

    <First />
    <Second />

  </div>
</Layout>