---
import Layout from '../layouts/main.astro';

import First from '../components/pages/team/first.astro';
import Second from '../components/pages/team/second.astro';
import WorkUs from '../components/global/work-us.astro';
---

<Layout>
  <div class='team-page'>
    <div class='animate-header'>
      <First />
    </div>
    <div class='animate-content'>
      <Second />
      <div class='third'>
        <WorkUs />
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
.team-page {
  .third {
    padding: 45px 0;
  }
}
</style>