---
import Layout from '../layouts/main.astro';

import WorkUs from '../components/global/work-us.astro';

import First from '../components/pages/why-partner-with-tlc/first.astro';
import Second from '../components/pages/why-partner-with-tlc/second.astro';
import Third from '../components/pages/why-partner-with-tlc/third.astro';
import Fourth from '../components/pages/why-partner-with-tlc/fourth.astro';
import Fifth from '../components/pages/why-partner-with-tlc/fifth.astro';
import Sixth from '../components/pages/why-partner-with-tlc/sixth.astro';
import Seventh from '../components/pages/why-partner-with-tlc/seventh.astro';
import Eighth from '../components/pages/why-partner-with-tlc/eighth.astro';
import Ninth from '../components/pages/why-partner-with-tlc/ninth.astro';
---

<Layout>
  <div class='why-partner-with-tlc-page'>
    <div class='animate-header'>
      <First />
    </div>
    <div class='animate-content'>
      <Second />
      <Third />
      <Fourth />
      <Fifth />
      <Sixth />
      <Seventh />
      <Eighth />
      <Ninth />
      <div class='tenth container'>
        <WorkUs />
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
.why-partner-with-tlc-page {
  .tenth {
    padding: 64px 0;
  }
}
</style>