---
import WorkUs from '../components/global/work-us.astro';
import ChevronRightMini from '../components/icons/chevron-right-mini.astro';
import Layout from '../layouts/main.astro';
---

<Layout>
  <div class='why-tlc-page'>

    <div class='page-info'>
      <div class='text'>
        <span>Discover TLC</span>
        <ChevronRightMini />
        <span>Why TLC</span>
      </div>
    </div>

    <div class='header'>
      <img src='/pictures/why-tlc/1.png' />
    </div>

    <div class='first container'>
      <div class='title H1'>Why TLC</div>
      <div class='mini-title H3'>Best Nursing Jobs</div>
    </div>

    <div class='second container'>
      <img src='/pictures/why-tlc/2.png' />
      <div class='right'>
        <div class='title H4'>We would like to welcome you to the TLC family!</div>
        <div class='list body-2'>
          <p>You are about to join a team of highly respected healthcare staffing professionals in our community. It’s an exciting time for TLC Nursing, as we continue to grow, we strive to remain as adaptable, motivated, and responsive to our new employees as we are to our clients. We pride ourselves on being a nurse-owned and operated home care and healthcare staffing organization.</p>
          <p>TLC is confronting a time of many changes and we’re meeting these changes during a time of nation-wide shortage of caregivers and nurses, while the aging population continues to grow. The world of healthcare is an exciting area to work in and we’ll continue working to ensure TLC remains on the cutting edge.</p>
          <p>Our business is people. As in any organization, we have people who issue guidelines and instructions and people who follow them. But, the “real bosses” are our end care recipients. However, our most important and greatest asset is you, the healthcare provider. We could not accomplish what we do every day without our employees. We count on our dedicated staff to make a good impression on our clients by following our policies, speaking courteously to both clients and patients, professionally presenting themselves, and being respectful, which creates a positive image of our organization, both to our clients and the public at large.</p>
        </div>
      </div>
    </div>

    <div class='third'>
      <div class='container'>
        <div class='left'>
          <div class='title H4'>Our growth and reputation depend on you and the care you provide.</div>
          <div class='list body-2'>
            <p>We strive to assure that you, our health care provider, have the ability, knowledge, and skills to give our clients the best care possible. We are also able to provide our staff with any facility trainings or certification prior to onboarding them to your facility. We can provide Pro-ACT (Professional Assault Crisis Training), MOAB (Management of Aggressive Behavior), PAC-training (Positive Approach To Care), and any other facility required training for TLC staff prior to their onboarding for their assignment.</p>
            <p>As a mission driven organization, we thrive on “bringing great people together by providing qualified healthcare professionals to support your unique organizational staffing needs.” TLC Nursing’s team is dedicated to providing our clients with the right people through our extensive screening process to meet your unique staffing needs. We provide passionate and committed staff while creating a culture of caring and professional development.</p>
          </div>
        </div>
        <img src='/pictures/why-tlc/3.jpeg' />
      </div>
      <div class='bottom H4 container'>We are very proud of where we are today and excited about where we are headed.</div>
    </div>

    <div class='fourth'>
      <WorkUs />
    </div>

  </div>
</Layout>

<style lang='scss'>
.why-tlc-page {

  .header {
    width: 100%;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .first {
    padding: 40px 0 25px 0;
    text-align: center;

    .title {
      color: var(--color-blue);
      margin-bottom: 12px;
    }
  }


  .second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    padding: 70px 0;

    img {
      max-width: 660px;
      width: 100%;
    }

    .right {

      .title {
        color: var(--color-blue);
        margin-bottom: 14px;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }


  .third {
    background-color: #EEF5FF;
    padding: 60px 0 40px 0;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 64px;

      img {
        max-width: 660px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 14px;
      }

      .left {
        .title {
          color: var(--color-blue);
          margin-bottom: 32px;
        }
        .list {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
      }
    }

    .bottom {
      text-align: center;
      color: var(--color-blue);
      display: block;
    }
  }


  .fourth {
    background-color: #fff;
    padding: 60px 0;
  }

  @media screen and (max-width: 912px) {

    .header {
      height: 340px;
    }

    .first {
      .title {
        font-size: 28px;
      }
      .mini-title {
        font-size: 16px;
        line-height: 21px;
      }
    }

    .second {
      grid-template-columns: 1fr;
      padding: 0 0 40px 0;

      img {
        margin: 0 auto;
      }
    }

    .third {
      padding: 32px 0;
      .container {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 24px;

        img {
          margin: 0 auto;
        }
      }
    }

    .fourth {
      background-color: #fff;
      padding: 40px 0;
    }
  }
}
</style>