<div class='why-partner-with-tlc-fifth'>
  <div class='container'>

    <div class='left'>
      <div class='title H2 blue'>General Healthcare Staffing</div>
      <p class='body-2'>TLC Nursing Associates Inc., is owned and operated by a certified nurse with hands-on experience in our local area. We have built a company with real experience in the field as the backbone of our mission. This unique insight into the healthcare industry, means we know what it takes to provide high quality care. Our </p>
      <div class='mini-title H4 blue'>Flexible Hiring</div>
      <p class='body-2'>Our contracts are non-exclusive, giving you the flexibility to hire who you need only when you need them even if they are not part of the TLC family. When you use us as your placement agency, that saves on the high cost of hiring staff when you need short-term, highly specialized or seasonal positions filled. Contract </p>
      <div class='mini-title H4 blue'>Flexible Hiring</div>
      <p class='body-2'>Our contracts are non-exclusive, giving you the flexibility to hire who you need only when you need them even if they are not part of the TLC family. When you use us as your placement agency, that saves on the high cost of hiring staff when you need short-term, highly specialized or seasonal positions filled. Contract </p>

      <p class='bottom body-2 blue'>One of our staffing coordinators is on call 24/7 to fill your staffing vacancies anytime day or night.</p>
    </div>

    <img src='/pictures/why-partner-with-tlc/5.png' />

  </div>
</div>

<style lang='scss'>
.why-partner-with-tlc-fifth {
  background-color: #EEF5FF;
  padding: 75px 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 430px;
    gap: 120px;
    
    .blue {
      color: var(--color-blue);
    }

    .left {
      .title {
        margin-bottom: 32px;
      }
      .mini-title {
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 24px;
      }
      .bottom {
        margin-top: 30px;
      }
    }

    img {
      max-width: 430px;
      width: 100%;
    }
  }

  @media screen and (max-width: 912px) {
    padding: 35px 0;
    .container {
      display: flex;
      flex-direction: column-reverse;
      gap: 24px;

      img {
        margin: 0 auto;
      }
    } 
  }
}
</style>