<div class='why-partner-with-tlc-ninth'>
  <div class='container'>
    <div class='title H2 blue'>Permanent Placement</div>
    <p class='body-2'>TLC Nursing Associates, Inc. specializes in the permanent placement of healthcare professionals. Matching the best people with the best jobs is what we do! As a recruiting agency, we find the most qualified candidates to match your needs. Our recruitment team provides you with an in-depth consultation to fully understand your needs and get to work either choosing candidates from our current pool of qualified proven professionals ready for a permanent position or completing the extensive hiring process for you. Our flexible contracts allow you to try out candidates before committing to hiring them on for your permanent position. All employees go through extensive screening of background checks, employment history and skills testing for your peace of mind. </p>
    <p class='body-2 blue'>Give us a call at 1-888-414-0703 to get in touch with our professional recruiters or submit a staffing request and fill your hiring needs now!</p>
  </div>
</div>

<style lang='scss'>
.why-partner-with-tlc-ninth {
  background-color: #EEF5FF;
  padding: 90px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .blue {
      color: var(--color-blue);
    }
  }

  @media screen and (max-width: 480px) {
    padding: 40px 0;
  }
}
</style>