<div class='why-partner-with-tlc-second'>
  <div class='title H1'>Why Partner with TLC?</div>
  <div class='mini-title H3'>When You Need the Best in Healthcare</div>
</div>

<style lang='scss'>
.why-partner-with-tlc-second {
  padding: 40px 0;
  text-align: center;

  .title {
    color: var(--color-blue);
    margin-bottom: 8px;
  }

  @media screen and (max-width: 480px) {
    padding: 24px 0;

    .title {
      font-size: 32px;
    }
    .mini-title {
      font-size: 16px;
    }
  }
}
</style>