:root {
  --color-green: #15D199;
  --color-blue: #4D9FFF;
  --color-gray: #606C77;

  --color-text: var(--color-gray);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--color-text);
  text-decoration: none;
}
button, input, select {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-gray);
}
button {
  cursor: pointer;
}
body {
  color: var(--color-text);
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
}

.container {
  max-width: 1350px;
  width: calc(100% - 30px);
  margin: 0 auto;
}



.button {
  background-color: var(--color-blue);
  display: block;
  padding: 12px 30px;
  border-radius: 27px;
  color: #fff;
  cursor: pointer;
}


.page-info {
  background: rgba(255, 255, 255, 0.49);
  width: 100%;
  position: absolute;
  z-index: 99;
  padding: 10px 15px;

  .text {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 7px;

    font-family: 'Mulish';
    font-weight: 400;

    color: var(--color-gray);
  }
}



@media screen and (max-width: 912px) {
  .container {
    padding: 0 15px;
  }
}