#main-first-slider-pagination {
  display: flex;
  align-items: center;
  
  .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    transition: 0.15s;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    width: 15px;
    height: 15px;
  }
}

#main-tenth-pagination, #career-page-slider-pagination, #awards-page-slider-pagination, #staff-testimonials-slider-pagination {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 15px;
  
  .swiper-pagination-bullet {
    background-color: #999;
    width: 10px;
    height: 10px;
    transition: 0.15s;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--color-blue);
    width: 15px;
    height: 15px;
  }
}

#faq-page-slider-pagination, #why-partner-with-tlc-page-slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  
  .swiper-pagination-bullet {
    background-color: #fff;
    width: 10px;
    height: 10px;
    transition: 0.15s;
    opacity: 0.5;
    margin: 0 10px;
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 15px;
    height: 15px;
    opacity: 1;
  }
}