---
import ChevronTop from '../icons/chevron-top.astro';
---

<button class='back-to-top ' id='back-to-top'>
  <ChevronTop />
</button>

<style lang='scss'>
.back-to-top {
  background: linear-gradient(180deg, #90C3FF 0%, #4C9FFF 100%);
  opacity: 0.6;
  width: 45px;
  height: 45px;
  border-radius: 10px;

  z-index: 999;

  position: fixed;
  bottom: 20px;
  right: 20px;

  visibility: hidden;
  opacity: 0;
  transition: 0.35s;
}

.back-to-top-show {
  visibility: visible;
  opacity: 1;
}
</style>

<script is:inline>
var btn = $('#back-to-top');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('back-to-top-show');
  } else {
    btn.removeClass('back-to-top-show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


</script>