---

import FacebookIcon from '../icons/facebook.astro';
import InstagramIcon from '../icons/instagram.astro';
import LinkedinIcon from '../icons/linkedin.astro';
import TiktokIcon from '../icons/tiktok.astro';
import TwitterIcon from '../icons/twitter.astro';

---

<footer>
  <div class='footer container'>
    <img class='logo' src='/logo.png' />
    <div class='list'>
      <div class='first'>
        <div class='title'>About company</div>
        <div class='block'>
          <div class='little-list'>
            <a class='link' href='/contact'>Contact Us</a>
            <a class='link' href='/healyhcare-staffing'>Healthcare staffing</a>
            <a class='link' href='/joint-commission'>Joint Commission</a>
            <a class='link' href='/staffing-request'>Staffing Request</a>
            <a class='link' href='/team'>Team TLC</a>
            <a class='link' href='/leap'>LEAP</a>
            <a class='link' href='/academy'>TLC Academy</a>
            <a class='link' href='/referal'>Referral Program</a>
            <a class='link' href='/timesheet'>Timesheet</a>
            <a class='link' href='/pay  check'>Paycheck</a>
          </div>
          <div class='little-list'>
            <a class='link' href='/career'>Careers with TLC</a>
            <a class='link' href='/career/licensing'>LNP/RN Licensing</a>
            <a class='link' href='/licensing'>CNA/LNA Licensing</a>
            <a class='link' href='/staff-testimonials'>Staff testimonials</a>
            <a class='link' href='/why-tlc'>Why TLC</a>
            <a class='link' href='/benefits'>Benefits</a>
            <a class='link' href='/awards'>Awards</a>
            <a class='link' href='/blog'>Blog</a>
            <a class='link' href='/faq'>FAQ</a>
          </div>
        </div>

        <div class='follow-us'>
          <div class='text'>Follow us</div>
          <a class='link' href='#'><InstagramIcon /></a>
          <a class='link' href='#'><FacebookIcon /></a>
          <a class='link' href='#'><LinkedinIcon /></a>
          <a class='link' href='#'><TiktokIcon /></a>
          <a class='link' href='#'><TwitterIcon /></a>
        </div>

        <div class='markets'>
          <a class='market' href='#'>
            <img src='/pictures/footer/apple.png' />
          </a>
          <a class='market' href='#'>
            <img src='/pictures/footer/google.png' />
          </a>
        </div>
      </div>
      
      <div class='second'>
        <div class='title'>Jobs</div>
        <div class='little-list'>
          <a class='link' href='#'>Travel Nursing Jobs by Profession</a>
          <a class='link' href='#'>Travel Nursing Jobs by State</a>
          <a class='link' href='#'>Travel Allied Jobs by Profession</a>
          <a class='link' href='#'>Travel Allied Jobs by State</a>
        </div>
      </div>

      <div class='third'>
        <div class='head'>
          <div class='title'>Best Travel Nursing Jobs In USA</div>
          <div class='content'>
            <div class='description'>Certified by The Joint Commission To Report a Concern, Click Here</div>
            <img src='/pictures/footer/img-award.png' />
          </div>
        </div>
        <div class='bot'>
          <div class='title'>Get In Touch</div>
          <div class='form'>
            <div class='head'>
              <input type='text' placeholder='First name & last name*' />
              <input type='text' placeholder='Email*' />
            </div>
            <input type='text' placeholder='Speciality' />
            <input type='text' placeholder='Message' />
            <div class='submit'>
              <button class='button'>Submit</button>
              <p>* - required field</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='bottom'>
      <div class='follow-us'>
        <div class='text'>Follow us</div>
        <a class='link' href='#'><InstagramIcon /></a>
        <a class='link' href='#'><FacebookIcon /></a>
        <a class='link' href='#'><LinkedinIcon /></a>
        <a class='link' href='#'><TiktokIcon /></a>
        <a class='link' href='#'><TwitterIcon /></a>
      </div>

      <div class='markets'>
        <a class='market' href='#'>
          <img src='/pictures/footer/apple.png' />
        </a>
        <a class='market' href='#'>
          <img src='/pictures/footer/google.png' />
        </a>
      </div>

      <div class='copyright'>© 2023 TLC Nursing Associates, Inc. All Rights Reserved.</div>
      <a class='privacy' href='#'>Privacy policy</a>
    </div>
  </div>
</footer>

<style lang='scss'>
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEF5FF;
    .container {
      .logo {
        width: 165px;
        margin-bottom: 16px;
      }
      .follow-us {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 25px;
            color: var(--color-blue);
            font-size: 20px;

            a {
              width: 30px;
              height: 30px;
            }
          }

          .markets {
            display: grid;
            grid-template-columns: 174px 186px;
            grid-template-rows: 58px;

            gap: 16px;

            .market {
              
              img {
                width: 100%;
              height: 100%;
                object-fit: cover;
              }
            }
          }
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        border-bottom: 1px solid var(--color-gray);

        .title {
          color: var(--color-blue);
          font-size: 28px;
          margin-bottom: 16px;
        }
        
        .first {
          border-right: 1px solid var(--color-gray);
          padding-bottom: 20px;

          .block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 50px;
          }       
        }

        .second {
          border-right: 1px solid var(--color-gray);
        }

        .third {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10px 0 30px 0;
          
          .head {
            display: flex;
            flex-direction: column;

            .title {
              color: var(--color-gray);
              font-size: 20px;
              margin-bottom: 0;
            }

            .content {
              display: flex;
              align-items: center;

              .description {
                font-family: 'Mulish', sans-serif;
                font-weight: 400;
                line-height: 24px;
              }
            }

            img {
              width: 74px;
              height: 74px;
            }
          }

          .bot {

            .form {
              display: flex;
              flex-direction: column;
              gap: 15px;

              .head {
                display: flex;
                gap: 15px;
              }

              .submit {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                  font-family: 'Mulish', sans-serif;
                  font-weight: 400;
                  margin-right: 20px;
                }
              }

              input {
                border: 1px solid var(--color-gray);
                border-radius: 58px;
                padding: 10px 20px;
                font-family: 'Mulish', sans-serif;
                font-weight: 400;
              }
            }
          }
        }
      }

      .little-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-end;
        gap: 8px;

        .link {
          font-family: 'Mulish', sans-serif;
          font-weight: 400;
          transition: 0.35s;

          &:hover {
            color: var(--color-blue);
          }
        }
      }
      .bottom {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 15px 0;
        
        .follow-us, .markets {
          display: none;
        }
            
        .copyright, .privacy {
            font-family: 'Mulish', sans-serif;
            font-weight: 400;
            font-size: 13px;
          }

        .privacy {
          color: var(--color-blue);
          transition: 0.35s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width: 1005px) {
      .container {
        .list {
          .third {
            .bot {
              .form {
                p {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 912px) {
      .container {
        .bottom {
          display: grid;
          grid-template-columns: 1fr;
          
          .copyright, .privacy {
            font-family: 'Mulish', sans-serif;
            font-weight: 400;
            font-size: 13px;
          }

          .follow-us {
            display: flex;
            margin-bottom: 0;
          }
          .markets {
            display: flex;
            gap: 16px;
            margin: 25px 0;

            .market {
              img {
                width: 100%;
              }
            }
          }
        }
        
        .list {
          grid-template-columns: 1fr;
          grid-template-areas: "second" "first" "third";
          gap: 25px;

          .title {
            font-size: 16px;
            margin-bottom: 5px;
          }

          .first {
            grid-area: first;
            border-right: none;
            border-bottom: 1px solid var(--color-gray);
            padding-bottom: 25px;

            .block {
              margin: 0;
            }

            .follow-us, .markets {
              display: none;
            }
          }
          .second {
            grid-area: second;
            border-right: none;
            border-bottom: 1px solid var(--color-gray);
            padding-bottom: 25px;
          }
          .third {
            grid-area: third;
            .head {
              margin-bottom: 30px;

              .title {
                margin-bottom: 15px;
              }

              .content {
                gap: 40px;

                img {
                  width: 58px;
                  height: 58px;
                }
              }
            }
            .bot {
              .title {
                font-size: 24px;
                margin-bottom: 15px;
              }
              .form {
                .head {
                  flex-direction: column;
                  margin-bottom: 0;

                  input {
                    width: 100%;
                  }
                }
                .submit {
                  button {
                    margin: 0 auto;
                  }
                  p {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .little-list {
          font-size: 15px;
        }
      }
    }
  }
</style>